html, body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  background-color: #ebebeb; }

.clear {
  clear: both; }

#logo__container {
  width: 200px;
  height: 75px;
  color: white;
  display: flex; }

#logo {
  width: 115px;
  margin: 0 auto 0 auto;
  overflow: auto;
  align-self: center; }

#logo img {
  float: left; }

#logo b {
  display: block;
  font-size: 21px;
  float: left;
  margin-top: 2px;
  margin-left: 3px; }

/* sidenav */
.sidenav {
  height: 100%;
  width: 245px;
  margin-top: 75px;
  position: fixed;
  box-shadow: 0px -3px 4px 1px #7d7d7d;
  background-color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  /*padding: 10px 25px;*/
  font-size: 14px; }
  .sidenav h5 {
    color: #555555;
    font-size: 14px;
    padding-left: 10px; }
  .sidenav__arrow {
    position: absolute;
    margin-left: 170px;
    display: block; }
  .sidenav ul {
    list-style: none;
    margin: 0;
    padding: 0 0 0 0; }
  .sidenav ul li a {
    display: block;
    padding: 10px 0 10px 20px; }
  .sidenav ul li a:hover {
    background-color: #f0f0f0;
    border-left: 2px solid #3f51b5;
    padding: 10px 0 10px 18px; }
  .sidenav ul li a:focus {
    background-color: #f0f0f0;
    border-left: 2px solid #3f51b5;
    padding: 10px 0 10px 18px; }
  .sidenav ul li a:focus .sidenav_arrow {
    display: none; }
  .sidenav ul li a img {
    float: left; }
  .sidenav ul li a span {
    float: left;
    align-self: center;
    margin-top: 5px;
    margin-left: 10px;
    color: #555555;
    font-weight: bold; }
  .sidenav.small {
    width: 70px; }
    .sidenav.small.sidenav ul li a span {
      display: none; }

.container {
  /*max-width: $hundred-perc;*/
  /*height: $hundred-perc;*/
  background-color: #ebebeb;
  margin-left: 245px;
  padding-top: 75px;
  color: #555555; }
  .container.small {
    margin-left: 70px; }
  .container__header {
    max-width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between; }
    .container__header h5 {
      font-size: 18px;
      margin-left: 15px;
      align-self: center; }
    .container__header__nav {
      text-align: right;
      height: 17px;
      align-self: center;
      margin-right: 15px; }
      .container__header__nav a::after {
        content: " /"; }
      .container__header__nav a:last-child::after {
        content: ""; }
  .container__1line {
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0 10px 0 10px; }
    .container__1line__Element {
      width: 260px;
      height: 72px;
      flex: 1;
      background-color: white;
      box-shadow: 0px 0px 4px 1px dimgray;
      display: flex;
      justify-content: space-between; }
      .container__1line__Element__img {
        width: 50px;
        height: 50px;
        margin-left: 15px;
        align-self: center;
        border-radius: 50px;
        display: flex; }
        .container__1line__Element__img img {
          margin: 0 auto; }
      .container__1line__Element__data {
        width: 80px;
        height: 45px;
        margin-right: 15px;
        align-self: center;
        text-align: right; }
        .container__1line__Element__data span {
          font-size: 20px;
          font-weight: bold; }
        .container__1line__Element__data a {
          font-size: 12px; }
    .container__1line__BigElement {
      width: 330px;
      height: 180px;
      box-shadow: 0px 0px 4px 1px #7d7d7d;
      background-color: white;
      padding: 10px;
      font-weight: bold;
      font-size: 14px;
      flex: 1; }
    .container__1line__Projects {
      width: 690px;
      height: auto;
      padding: 10px;
      background-color: white;
      font-size: 12px;
      box-shadow: 0px 0px 4px 1px #7d7d7d;
      flex: 1; }
      .container__1line__Projects h5 {
        margin: 0;
        padding: 0;
        font-size: 14px;
        font-weight: bold; }
      .container__1line__Projects table {
        border-collapse: collapse; }
      .container__1line__Projects__tabHead th {
        border-bottom: 1px solid #555555;
        text-align: left; }
      .container__1line__Projects table tr td:first-child {
        width: 25px; }
      .container__1line__Projects table tr td:nth-child(2) {
        width: 190px; }
      .container__1line__Projects table tr td {
        width: 110px;
        height: 30px; }
    .container__1line__usersList {
      width: 360px;
      height: 200px; }
      .container__1line__usersList__user {
        width: 360px;
        height: 60px;
        margin-bottom: 10px;
        background-color: white;
        box-shadow: 0px 0px 4px 1px #7d7d7d;
        font-size: 14px;
        display: flex; }
        .container__1line__usersList__user__avatar {
          background-image: url(../images/avatar.jpg);
          width: 40px;
          height: 40px;
          border-radius: 20px;
          margin: 10px;
          display: inline-block; }
        .container__1line__usersList__user__data {
          width: 80px;
          height: 60px;
          display: inline-block;
          margin-top: 5px; }
          .container__1line__usersList__user__data a:nth-child(1) {
            font-weight: bold;
            display: block; }
          .container__1line__usersList__user__data a:nth-child(2) {
            display: block; }
          .container__1line__usersList__user__data a:nth-child(3) {
            font-weight: bold;
            display: block; }

.profile-wrap {
  background-color: #ebebeb;
  margin-left: 245px;
  padding-top: 75px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 75px; }
  .profile-wrap.small {
    margin-left: 70px; }

.profile {
  color: #555555; }
  .profile__info {
    width: 360px;
    height: 500px;
    background-color: white;
    margin: 10px;
    padding: 10px; }
    .profile__info__photo {
      width: 100px;
      height: 100px;
      border-radius: 50px;
      border: 1px solid #b4b4b4;
      margin: 15px auto 15px auto;
      display: flex; }
      .profile__info__photo__img {
        width: 90px;
        height: 90px;
        border-radius: 50px;
        margin: 0 auto 0 auto;
        align-self: center;
        overflow: hidden; }
        .profile__info__photo__img img {
          width: 90px; }
    .profile__info a:nth-child(2) {
      display: block;
      width: 100%;
      text-align: center;
      font-weight: bold;
      margin-bottom: 5px; }
    .profile__info a:nth-child(3) {
      display: block;
      width: 100%;
      text-align: center;
      font-size: 14px;
      color: #a0a0a0;
      margin-bottom: 30px; }
    .profile__info__buttons {
      width: 185px;
      margin: 0 auto 30px auto; }
      .profile__info__buttons button:nth-child(1) {
        border: 0;
        color: white;
        padding: 10px 20px;
        background-color: #66bb6a;
        border-radius: 3px;
        font-weight: bold; }
      .profile__info__buttons button:nth-child(2) {
        border: 0;
        color: white;
        padding: 10px 20px;
        background-color: #ed6e73;
        border-radius: 3px;
        font-weight: bold; }
    .profile__info__details span {
      font-weight: bold; }
    .profile__info__social {
      width: 150px;
      margin: 60px auto 0 auto;
      display: flex;
      justify-content: space-around; }
      .profile__info__social__icons {
        width: 30px;
        height: 30px;
        background-color: #c8c8c8;
        border-radius: 15px;
        display: flex; }
        .profile__info__social__icons img {
          width: 20px;
          margin: 0 auto;
          align-self: center; }
  .profile__skills {
    width: 360px;
    height: 200px;
    background-color: white;
    margin: 10px;
    padding: 10px; }
    .profile__skills h2 {
      font-size: 16px; }
    .profile__skills a:nth-child(n+2) {
      display: block; }
    .profile__skills__scale {
      width: 360px;
      height: 5px;
      margin: 10px auto;
      background-color: #c8c8c8; }
      .profile__skills__scale__ind {
        height: 5px;
        background-color: #505050;
        position: absolute; }

.tabs {
  width: 50px;
  height: 50px;
  flex: 1;
  margin: 10px; }

.tablink {
  background-color: white;
  color: #555555;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%; }

.tablink:hover {
  background-color: white; }

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: #555555;
  display: none;
  padding: 100px 20px;
  height: auto; }

#Home {
  background-color: white; }

#News {
  background-color: white; }

#Contact {
  background-color: white; }

.about__block {
  border-bottom: 1px solid #b4b4b4;
  margin-bottom: 25px; }
  .about__block a:nth-child(1) {
    color: #5158b3;
    display: block;
    font-weight: bold;
    margin-bottom: 5px; }
  .about__block a:nth-child(2) {
    font-size: 12px;
    display: block;
    margin-bottom: 15px; }
  .about__block a:nth-child(3) {
    font-weight: bold;
    display: block;
    margin-bottom: 15px; }
  .about__block a:nth-child(4) {
    color: #a0a0a0;
    display: block;
    margin-bottom: 10px; }

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; }
  .gallery__item {
    width: 300px;
    height: 300px;
    margin-bottom: 15px;
    margin-right: 15px;
    text-align: center; }
    .gallery__item img {
      width: 100%; }
    .gallery__item__line {
      width: 20px;
      height: 2px;
      margin: 7px auto 7px auto;
      background-color: #3e46ab; }
    .gallery__item a:nth-child(2) {
      font-weight: bold;
      margin-top: 15px;
      display: block; }
    .gallery__item a:nth-child(4) {
      font-size: 12px;
      color: #b4b4b4; }

.settings {
  width: 95%;
  border-bottom: 1px solid #b4b4b4;
  margin-bottom: 25px; }
  .settings__head {
    font-weight: bold;
    display: block;
    margin-bottom: 15px; }
  .settings__data {
    display: block; }

@media (max-width: 1366px) {
  .container__1line__Element {
    margin: 5px; }
  .container__1line__BigElement {
    margin: 5px; }
  .container__1line__Projects {
    margin: 5px; }
  .container__1line__usersList {
    margin: 5px; } }

@media (max-width: 955px) {
  .container__1line {
    flex-wrap: wrap;
    justify-content: center; }
    .container__1line__Element {
      margin: 10px; }
    .container__1line__BigElement {
      margin-top: 10px; }
    .container__1line__Projects {
      margin-top: 10px; }
    .container__1line__usersList {
      margin-top: 10px; }
  .profile-wrap {
    display: block;
    height: auto; }
  .profile {
    width: 100%; }
    .profile__info {
      margin: 10px auto;
      width: 90%; }
    .profile__skills {
      margin: 10px auto;
      width: 90%; }
  .tabs {
    flex: 0 !important;
    width: 90%;
    margin: 0 auto; } }

@media (max-width: 768px) {
  .sidenav {
    width: 70px; }
    .sidenav.sidenav ul li a span {
      display: none; }
  .profile-wrap {
    margin-left: 70px; }
  .container {
    margin-left: 70px; } }

/* mazejant ekranui turi susitraukti sidenav, plius, reikia kad i hoveri reaguotu
menu mygtukas virsutinej melynoj juostoj. be to, kartu su tuo turi susitraukti
ir sidenav, ir logo virsutineje juostoje. tam is left reikia viska iskelti
i right, isskyrus logo. ir sidenava issikelti i atskira scss faila. nepamirst importint
*/

.nav__right__second__square {
  align-self: center;
  margin-right: 30px; }

.nav {
  width: 100%;
  height: 75px;
  background-color: #3f51b5;
  display: flex;
  position: fixed;
  z-index: 999; }
  .nav__left {
    /* tai tas pats kaip .nav__left, ir del sito veikimo ir reikia dvieju underscoru */
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    /*justify-content: center;
        align-items: center;*/ }
  .nav__left__search::placeholder {
    color: white; }
  .nav__right {
    width: 80%;
    display: flex;
    padding-right: 25px;
    justify-content: space-between; }
    .nav__right__first {
      display: flex; }
      .nav__right__first__menu {
        margin: 0 8px 0 8px;
        display: block;
        align-self: center;
        cursor: pointer; }
      .nav__right__first__search {
        width: 150px;
        height: 30px;
        border-left: 1px solid #c2c9f0;
        border-top: 1px solid #c2c9f0;
        border-bottom: 1px solid #c2c9f0;
        border-right: 0px;
        float: left;
        align-self: center;
        background-color: #6f80d9;
        padding-left: 15px; }
        .nav__right__first__search::placeholder {
          color: white; }
      .nav__right__first__menuBtn {
        border: 1px solid;
        background-color: #6f80d9;
        align-self: center;
        height: 34px;
        border-right: 1px solid #c2c9f0;
        border-top: 1px solid #c2c9f0;
        border-bottom: 1px solid #c2c9f0;
        border-left: 0px;
        cursor: pointer; }
        .nav__right__first__menuBtn:focus {
          outline: none; }
    .nav__right__second {
      display: flex;
      direction: rtl; }
      .nav__right__second__avatar {
        width: 50px;
        height: 50px;
        background-image: url(../images/avatar.jpg);
        border-radius: 50px;
        align-self: center; }
      .nav__right__second__nots {
        background-image: url(../images/notification.svg);
        width: 25px;
        height: 25px;
        align-self: center;
        margin-right: 30px; }
        .nav__right__second__nots__numb {
          width: 12px;
          height: 12px;
          background-color: red;
          color: white;
          font-size: 10px;
          font-weight: bold;
          text-align: center;
          border-radius: 3px; }
      .nav__right__second__multipoint {
        color: white;
        align-self: center;
        margin-right: 30px;
        font-weight: bold; }
      .nav__right__second__square {
        width: 25px;
        height: 25px;
        background-image: url(../images/square.svg);
        /* sukuria klase css virsuje? */ }

.pricing {
  background-color: #ebebeb;
  margin-left: 245px;
  padding-top: 75px;
  padding-bottom: 75px;
  color: #4e5666; }
  .pricing.small {
    margin-left: 70px; }
  .pricing__title {
    font-weight: bold;
    font-size: 18px;
    margin: 15px; }
  .pricing h1 {
    text-align: center; }
  .pricing__container {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-around; }
    .pricing__container__card {
      width: 340px;
      height: 535px;
      background-color: white;
      padding-top: 15px;
      z-index: 1;
      box-shadow: 3px 3px 4px #b4b4b4; }
      .pricing__container__card h2 {
        color: #7bb872;
        font-weight: normal;
        font-size: 24px;
        text-align: center; }
      .pricing__container__card > a:nth-child(2) {
        font-size: 32px;
        font-weight: bold;
        display: block;
        text-align: center; }
      .pricing__container__card > a:nth-child(3) {
        font-size: 12px;
        display: block;
        text-align: center;
        color: #b4b4b4; }
      .pricing__container__card__data {
        display: flex;
        justify-content: center;
        margin: 20px 0; }
        .pricing__container__card__data a {
          font-size: 14px; }
        .pricing__container__card__data img {
          margin-right: 10px; }
      .pricing__container__card__signup {
        padding: 10px 20px;
        background-color: #df7676;
        color: white;
        text-decoration: none;
        margin: 40px auto 0 auto;
        display: block;
        width: 76px;
        font-size: 14px;
        text-align: center;
        border-radius: 25px; }

.popular {
  position: absolute;
  width: 130px;
  height: 130px;
  overflow: hidden;
  margin: -8px 0 0 -113px;
  z-index: 2; }
  .popular__line {
    background-color: #7bb872;
    color: white;
    display: block;
    width: 160px;
    height: 25px;
    transform: rotate(-40deg);
    margin: 26px 0 0 -38px;
    text-align: center;
    font-weight: bold;
    padding-top: 5px; }

.square1 {
  width: 10px;
  height: 10px;
  background-color: #62a258;
  position: absolute;
  transform: rotate(45deg);
  margin: -5px 0 0 -66px; }

.square2 {
  width: 10px;
  height: 10px;
  background-color: #62a258;
  position: absolute;
  transform: rotate(45deg);
  margin: 84px 0 0 -172px; }

@media only screen and (max-width: 1280px) {
  .pricing__container {
    width: 90%;
    display: block; }
  .pricing__container__card {
    margin: 0 auto 25px auto; }
  .popular {
    display: none; }
  .square1 {
    display: none; }
  .square2 {
    display: none; } }

@media (max-width: 768px) {
  .pricing {
    margin-left: 70px; } }

