<div data-sidenav class="container">
            <div class="container__header">
                <h5>Welcome!</h5>
                <div class="container__header__nav">
                    <a>Minton</a>
                    <a>Dashboard</a>
                </div>
            </div>
            <div class="container__1line">
                <div class="container__1line__Element">
                    <div class="container__1line__Element__img" style="background-color: rgb(136,204,146); border: 4px solid rgb(125,200,135);">
                        <img src="assets/images/account.svg" />
                    </div>
                    <div class="container__1line__Element__data">
                        <span>56 740</span><br/>
                        <a>Today's Visits</a>
                    </div>
                </div>
                <div class="container__1line__Element">
                    <div class="container__1line__Element__img" style="background-color: rgb(118,128,200); border: 4px solid rgb(103,114,194);">
                        <img src="assets/images/alarm.svg" />
                    </div>
                    <div class="container__1line__Element__data">
                        <span>31 570</span><br/>
                        <a>Total revenue</a>
                    </div>
                </div>
                <div class="container__1line__Element">
                    <div class="container__1line__Element__img" style="background-color: rgb(240,149,152); border: 4px solid rgb(239,142,146);">
                        <img src="assets/images/announcement.svg" />
                    </div>
                    <div class="container__1line__Element__data">
                        <span>280</span><br/>
                        <a>Totaly sales</a>
                    </div>
                </div>
                <div class="container__1line__Element">
                    <div class="container__1line__Element__img" style="background-color: rgb(179,101,197); border: 4px solid rgb(172,84,190);">
                        <img src="assets/images/backup.svg" />
                    </div>
                    <div class="container__1line__Element__data">
                        <span>0.16%</span><br/>
                        <a>Conversion</a>
                    </div>
                </div>
            </div>
            <div class="container__1line">
                <div class="container__1line__BigElement">
                    Yearly Sales Report
                </div>
                <div class="container__1line__BigElement">
                    Total Revenue
                </div>
                <div class="container__1line__BigElement">
                    Total Revenue
                </div>
            </div>
            <div class="container__1line">
                <div class="container__1line__Projects">
                    <h5>Latest Projects</h5>
                    Your awsome last goes here <br/><br/>
                    <table>
                        <tr class="container__1line__Projects__tabHead">
                            <th>
                                #
                            </th>
                            <th>
                                Project Name
                            </th>
                            <th>
                                Start Date
                            </th>
                            <th>
                                Due Date
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Assign
                            </th>
                        </tr>
                        <tr>
                            <td>
                                1
                            </td>
                            <td>
                                Minton Admin v1
                            </td>
                            <td>
                                2020/01/01
                            </td>
                            <td>
                                2020/06/30
                            </td>
                            <td>
                                Released
                            </td>
                            <td>
                                CoderBurnes
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2
                            </td>
                            <td>
                                Minton Frontend v1
                            </td>
                            <td>
                                2020/01/01
                            </td>
                            <td>
                                2020/06/30
                            </td>
                            <td>
                                Released
                            </td>
                            <td>
                                Minton admin
                            </td>
                        </tr>
                        <tr>
                            <td>
                                3
                            </td>
                            <td>
                                Minton admin v1.1
                            </td>
                            <td>
                                2020/05/01
                            </td>
                            <td>
                                2020/06/30
                            </td>
                            <td>
                                Pending
                            </td>
                            <td>
                                CodeBurners
                            </td>
                        </tr>
                        <tr>
                            <td>
                                4
                            </td>
                            <td>
                                Minton Frontend v1.1
                            </td>
                            <td>
                                2020/01/01
                            </td>
                            <td>
                                2020/06/30
                            </td>
                            <td>
                                Work in progress
                            </td>
                            <td>
                                Minton admin
                            </td>
                        </tr>
                        <tr>
                            <td>
                                5
                            </td>
                            <td>
                                Minton Frontend v1.3
                            </td>
                            <td>
                                2020/01/01
                            </td>
                            <td>
                                2020/06/30
                            </td>
                            <td>
                                Coming soon
                            </td>
                            <td>
                                CodeBurner
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="container__1line__usersList">
                    <div class="container__1line__usersList__user">
                        <div class="container__1line__usersList__user__avatar">
                            
                        </div>
                        <div class="container__1line__usersList__user__data">
                            <a>Chazangla</a>
                            <a>email@email.com</a>
                            <a style="color: rgb(207, 171, 7);">Admin</a>
                        </div>
                    </div>
                    <div class="container__1line__usersList__user">
                        <div class="container__1line__usersList__user__avatar">

                        </div>
                        <div class="container__1line__usersList__user__data">
                            <a>Tomasslau</a>
                            <a>email@email.com</a>
                            <a style="color: rgb(33, 156, 50)">User</a>
                        </div>
                    </div>
                    <div class="container__1line__usersList__user">
                        <div class="container__1line__usersList__user__avatar">

                        </div>
                        <div class="container__1line__usersList__user__data">
                            <a>Ok</a>
                            <a>email@email.com</a>
                            <a style="color: rgba(236, 11, 11, 0.897);">Admin</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>