<nav data-sidenav class="nav">
            <div class="nav__left">
                <div id="logo__container"><!-- sitai turi veikti kaip linkas -->
                    <div id="logo">
                        <img src="../src/assets/images/logo2.svg" />
                        <b>MINTON</b>
                    </div>
                </div>
                
            </div>
            <!--<div class="nav__right">
                <div class="nav__right__menu"></div>
                <div class="nav__right__list"></div>
            </div>-->
            <div class="nav__right"> <!-- nav right list. ir jame viskas ul li -->
                <div class="nav__right__first">
                    <a class="nav__right__first__menu"> <!-- nuo cia turetu prasideti nav right -->
                        <img data-toggle="sidenav" src="../src/assets/images/menu.svg">
                    </a>
                    <input type="text" class="nav__right__first__search" placeholder="Search..." />
                    <button class="nav__right__first__menuBtn">
                        <img src="../src/assets/images/search.svg" />
                    </button>
                </div>

                <div class="nav__right__second">
                    <div class="nav__right__second__avatar"></div>
                    <div class="nav__right__second__nots">
                        <div class="nav__right__second__nots__numb">4</div>
                    </div>
                    <div class="nav__right__second__multipoint">...</div>
                    <div class="nav__right__second__square"></div>
                </div>
                
            </div>
        </nav>