<nav data-sidenav class="sidenav">
            <h5>MAIN</h5>
            <ul>
                <li>
                    <a href="index.html">
                        <!--<img class="sidenav__arrow" src="../src/assets/images/arrow.svg" />-->
                        <img alt="" src="../src/assets/images/home.svg" />
                        <span>Dashboard</span>
                        
                        <div class="clear"></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                       <!--<img class="sidenav__arrow" src="../src/assets/images/arrow.svg" />-->
                        <img alt="" src="../src/assets/images/colors.svg" />
                        <span>UI Kit</span>
                        <div class="clear"></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="sidenav__arrow" src="../src/assets/images/arrow.svg" />
                        <img alt="" src="../src/assets/images/text.svg" />
                        <span>Typography</span>
                        <div class="clear"></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="sidenav__arrow" src="../src/assets/images/arrow.svg" />
                        <img alt="" src="../src/assets/images/component.svg" />
                        <span>Components</span>
                        <div class="clear"></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="sidenav__arrow" src="../src/assets/images/arrow.svg" />
                        <img alt="" src="../src/assets/images/graphic.svg" />
                        <span>Icons</span>
                        <div class="clear"></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="sidenav__arrow" src="../src/assets/images/arrow.svg" />
                        <img alt="" src="../src/assets/images/form.svg" />
                        <span>Forms</span>
                        <div class="clear"></div>
                    </a>
                </li>
            </ul>
            <h5>More</h5>
            <ul>
                <li>
                    <a href="#">
                        <img class="sidenav__arrow" src="../src/assets/images/arrow.svg" />
                        <img alt="" src="../src/assets/images/tables.svg" />
                        <span>Tables</span>
                        <div class="clear"></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="sidenav__arrow" src="../src/assets/images/arrow.svg" />
                        <img alt="" src="../src/assets/images/chart.svg" />
                        <span>Charts</span>
                        <div class="clear"></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="sidenav__arrow" src="../src/assets/images/arrow.svg" />
                        <img alt="" src="../src/assets/images/maps.svg" />
                        <span>Maps</span>
                        <div class="clear"></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="sidenav__arrow" src="../src/assets/images/arrow.svg" />
                        <img alt="" src="../src/assets/images/mail.svg" />
                        <span>Mail</span>
                        <div class="clear"></div>
                    </a>
                </li>
            </ul>
            <h5>Extras</h5>
            <ul>
                <li>
                    <a href="#">
                        <img class="sidenav__arrow" src="../src/assets/images/arrow.svg" />
                        <img alt="" src="../src/assets/images/pages.svg" />
                        <span>Pages</span>
                        <div class="clear"></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="sidenav__arrow" src="../src/assets/images/arrow.svg" />
                        <img alt="" src="../src/assets/images/extras.svg" />
                        <span>Extras</span>
                        <div class="clear"></div>
                    </a>
                </li>
                <div style="width: 100%; height: 95px;"></div>
            </ul>
        </nav>