<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{htmlWebpackPlugin.options.title}}</title> <!-- confige zr, 40 eilute atrodo-->
        <link rel="stylesheet" href="assets/styles/app.css">
        
    </head>
    <body>
        {{> partials/nav }}
        {{> partials/sidenav }}
        {{> partials/container }}
        <!--bus kazkokie tabsai, galima panaudoti bootstrapa, paieskoj ivesti tabs
        galima scripta paimti nors ir is w3schools tabs. negadins likusio kodo-->
    </body>
</html>