<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{htmlWebpackPlugin.options.title}}</title> <!-- confige zr, 40 eilute atrodo-->
        <link rel="stylesheet" href="assets/styles/app.css">
        
    </head>
    <body>
        {{> partials/nav }}
        {{> partials/sidenav }}
        <div data-sidenav class="pricing">
            <div class="pricing__title">
                Pricing
            </div>
            <h1>
                Simple Pricing
            </h1>
            <div class="pricing__container">
                <div class="pricing__container__card">
                    <h2>STARTER PACK</h2>
                    <a>$19</a>
                    <a>Per Month</a>
                    <div class="pricing__container__card__data">
                        <img src="assets/images/pricing1.png" />
                        <a>10GB Storage</a>
                    </div>
                    <div class="pricing__container__card__data">
                        <img src="assets/images/pricing2.png" />
                        <a>500GB Bandwidth</a>
                    </div>
                    <div class="pricing__container__card__data">
                        <img src="assets/images/pricing3.png" />
                        <a>No Domain</a>
                    </div>
                    <div class="pricing__container__card__data">
                        <img src="assets/images/pricing4.png" />
                        <a>1 User</a>
                    </div>
                    <div class="pricing__container__card__data">
                        <img src="assets/images/pricing5.png" />
                        <a>Email Support</a>
                    </div>
                    <div class="pricing__container__card__data">
                        <img src="assets/images/pricing6.png" />
                        <a>24x7 Support</a>
                    </div>
                    <a href="#" class="pricing__container__card__signup">
                        Signup Now
                    </a>
                </div>
                <div class="popular">
                    <div class="popular__line">
                        POPULAR
                    </div>
                </div>
                <div class="square1">

                </div>
                <div class="square2">

                </div>
                <div class="pricing__container__card">
                    <h2>PROFESSIONAL PACK</h2>
                    <a>$29</a>
                    <a>Per Month</a>
                    <div class="pricing__container__card__data">
                        <img src="assets/images/pricing1.png" />
                        <a>50GB Storage</a>
                    </div>
                    <div class="pricing__container__card__data">
                        <img src="assets/images/pricing2.png" />
                        <a>1200GB Bandwidth</a>
                    </div>
                    <div class="pricing__container__card__data">
                        <img src="assets/images/pricing3.png" />
                        <a>5 Domain</a>
                    </div>
                    <div class="pricing__container__card__data">
                        <img src="assets/images/pricing4.png" />
                        <a>100 User</a>
                    </div>
                    <div class="pricing__container__card__data">
                        <img src="assets/images/pricing5.png" />
                        <a>Email Support</a>
                    </div>
                    <div class="pricing__container__card__data">
                        <img src="assets/images/pricing6.png" />
                        <a>24x7 Support</a>
                    </div>
                    <a href="#" class="pricing__container__card__signup">
                        Signup Now
                    </a>
                </div>
                <div class="pricing__container__card">
                    <h2>ENTERPRISE PACK</h2>
                    <a>$39</a>
                    <a>Per Month</a>
                    <div class="pricing__container__card__data">
                        <img src="assets/images/pricing1.png" />
                        <a>1000GB Storage</a>
                    </div>
                    <div class="pricing__container__card__data">
                        <img src="assets/images/pricing2.png" />
                        <a>Unlimited Bandwidth</a>
                    </div>
                    <div class="pricing__container__card__data">
                        <img src="assets/images/pricing3.png" />
                        <a>20 Domain</a>
                    </div>
                    <div class="pricing__container__card__data">
                        <img src="assets/images/pricing4.png" />
                        <a>Unlimited User</a>
                    </div>
                    <div class="pricing__container__card__data">
                        <img src="assets/images/pricing5.png" />
                        <a>Email Support</a>
                    </div>
                    <div class="pricing__container__card__data">
                        <img src="assets/images/pricing6.png" />
                        <a>24x7 Support</a>
                    </div>
                    <a href="#" class="pricing__container__card__signup">
                        Signup Now
                    </a>
                </div>
                
            </div>
        </div>
        <div>
    </body>
</html>