@import 'variables.scss';

html, body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    width: $hundred-perc;
    height: $hundred-perc;
}

.clear {
    clear: both;
}

.nav {
    width: $hundred-perc;
    height: 75px;
    background-color: rgb(63,81,181);
    display: flex;
    position: fixed;
    z-index: 999;
    &__left {  /* tai tas pats kaip .nav__left, ir del sito veikimo ir reikia dvieju underscoru */
        width: 40%;
        display: flex;
        flex-wrap: wrap;
        /*justify-content: center;
        align-items: center;*/
    }
    &__left__menu {
        margin: 0 8px 0 8px;
        display: block;
        align-self: center;
    }
    &__left__search {
        width: 150px;
        height: 30px;
        border-left: 1px solid rgb(194,201,240);
        border-top: 1px solid rgb(194,201,240);
        border-bottom: 1px solid rgb(194,201,240);
        border-right: 0px;
        float: left;
        align-self: center;
        background-color: rgb(111,128,217);
        padding-left: 15px;
    }
    &__left__search::placeholder {
        color: white;
    }
    &__right {
        width: 60%;
        display: flex;
        direction: rtl;
        padding-right: 25px;
    }
    &__right__square {
        width: 25px;
        height: 25px;
        background-image: url('../images/square.svg');
        @extend %align-margin; /* sukuria klase css virsuje? */
    }
    &__right__multipoint {
        @include color();
        align-self: center;
        margin-right: 30px;
        font-weight: bold;
    }
    &__right__nots {
        background-image: url('../images/notification.svg');
        width: 25px;
        height: 25px;
        align-self: center;
        margin-right: 30px;
    }
    &__right__nots__numb {
        width: 12px;
        height: 12px;
        background-color: rgb(255,0,0);
        @include color();
        font-size: 10px;
        font-weight: bold;
        text-align: center;
        border-radius: 3px;
    }
    &__right__avatar {
        width: 50px;
        height: 50px;
        background-image: url('../images/avatar.jpg');
        border-radius: 50px;
        align-self: center;
    }
}

#logo__container {
    width: 200px;
    height: 75px;
    @include color();
    display: flex;
}

#logo {
    width: 115px;
    margin: 0 auto 0 auto;
    overflow: auto;
    align-self: center;
}

#logo img {
    float: left;
}

#logo b {
    display: block;
    font-size: 21px;
    float: left;
    margin-top: 2px;
    margin-left: 3px;
}

#nav__left__menu_btn {
    border: 1px solid;
    background-color: rgb(111,128,217);
    align-self: center;
    height: 34px;
    border-right: 1px solid rgb(194,201,240);
    border-top: 1px solid rgb(194,201,240);
    border-bottom: 1px solid rgb(194,201,240);
    border-left: 0px;
    cursor: pointer;
}

#nav__left__menu_btn:focus {
    outline: none;
}

/* sidenav */

.sidenav {
    height: $hundred-perc;
    width: 245px;
    margin-top: 75px;
    position: fixed;
    box-shadow: 0px -3px 4px 1px rgb(125,125,125);
    @include white-background();
    overflow-y: scroll;
    overflow-x: hidden;
    /*padding: 10px 25px;*/
    font-size: 14px;
    & h5 {
        color: rgb(85,85,85);
        font-size: 14px;
        padding-left: 10px;
    }
    &__arrow {
        position: absolute;
        margin-left: 170px;
        display: block;
    }
    & ul {
        list-style: none;
        margin: 0;
        padding: 0 0 0 0;
    }
    & ul li a {
        display: block;
        padding: 10px 0 10px 20px;
    }
    & ul li a:hover {
        background-color: rgb(240,240,240);
        border-left: 2px solid rgb(63,81,181);
        padding: 10px 0 10px 18px;
    }
    & ul li a:focus {
        background-color: rgb(240,240,240);
        border-left: 2px solid rgb(63,81,181);
        padding: 10px 0 10px 18px;
    }
    & ul li a:focus .sidenav_arrow {
        display: none;
    }
    & ul li a img {
        float: left;
    }
    & ul li a span {
        float: left;
        align-self: center;
        margin-top: 5px;
        margin-left: 10px;
        color: rgb(85,85,85);
        font-weight: bold;
    }
}

.container {
    max-width: $hundred-perc;
    height: $hundred-perc;
    background-color: rgb(235,235,235);
    margin-left: 245px;
    padding-top: 75px;
    color: rgb(85,85,85);
    &__header {
        max-width: $hundred-perc;
        height: 40px;
        display: flex;
        justify-content: space-between;
        & h5 {
            font-size: 18px;
            margin-left: 15px;
            align-self: center;
        }
        &__nav {
            text-align: right;
            height: 17px;
            align-self: center;
            margin-right: 15px;
            & a::after {
                content: " /";
            } 
            & a:last-child::after {
                content: "";
            }
        }
    }
    &__1line {
        max-width: $hundred-perc;
        height: 75px;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        padding: 0 10px 0 10px;
        &__Element {
            width: 260px;
            height: 72px;
            @include white-background();
            box-shadow: 0px 0px 4px 1px rgb(105,105,105);
            display: flex;
            justify-content: space-between;
            &__img {
                width: 50px;
                height: 50px;
                margin-left: 15px;
                align-self: center;
                border-radius: 50px;
                display: flex;
                & img {
                    margin: 0 auto;
                    
                }  
            }
            &__data {
                width: 80px;
                height: 45px;
                margin-right: 15px;
                align-self: center;
                text-align: right;
                & span {
                    font-size: 20px;
                    font-weight: bold;
                }
                & a {
                    font-size: 12px;
                }
            }
        }
        &__BigElement {
            width: 330px;
            height: 180px;
            box-shadow: 0px 0px 4px 1px rgb(125,125,125);
            @include white-background();
            padding: 10px;
            font-weight: bold;
            font-size: 14px;
        }
    }
}