@import 'variables.scss';
//@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

html, body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    width: $hundred-perc;
    height: $hundred-perc;
    background-color: rgb(235,235,235);
}

.clear {
    clear: both;
}


#logo__container {
    width: 200px;
    height: 75px;
    @include color();
    display: flex;
}

#logo {
    width: 115px;
    margin: 0 auto 0 auto;
    overflow: auto;
    align-self: center;
}

#logo img {
    float: left;
}

#logo b {
    display: block;
    font-size: 21px;
    float: left;
    margin-top: 2px;
    margin-left: 3px;
}

/* sidenav */

.sidenav {
    height: $hundred-perc;
    width: 245px;
    margin-top: 75px;
    position: fixed;
    box-shadow: 0px -3px 4px 1px rgb(125,125,125);
    @include white-background();
    overflow-y: scroll;
    overflow-x: hidden;
    /*padding: 10px 25px;*/
    font-size: 14px;
    & h5 {
        color: rgb(85,85,85);
        font-size: 14px;
        padding-left: 10px;
    }
    &__arrow {
        position: absolute;
        margin-left: 170px;
        display: block;
    }
    & ul {
        list-style: none;
        margin: 0;
        padding: 0 0 0 0;
    }
    & ul li a {
        display: block;
        padding: 10px 0 10px 20px;
    }
    & ul li a:hover {
        background-color: rgb(240,240,240);
        border-left: 2px solid rgb(63,81,181);
        padding: 10px 0 10px 18px;
    }
    & ul li a:focus {
        background-color: rgb(240,240,240);
        border-left: 2px solid rgb(63,81,181);
        padding: 10px 0 10px 18px;
    }
    & ul li a:focus .sidenav_arrow {
        display: none;
    }
    & ul li a img {
        float: left;
    }
    & ul li a span {
        float: left;
        align-self: center;
        margin-top: 5px;
        margin-left: 10px;
        color: rgb(85,85,85);
        font-weight: bold;
    }
    &.small { //PABANDYTI SITA IDETI I NAV KLASE KAIP IDETAS I CONTAINER KLASE, GAL TADA NEPRISISKIRS?
        width: 70px;
        &.sidenav ul li a span { //tokiais atvejais reikia be tarpelio
            display: none;
        }
    }
}


.container {
    /*max-width: $hundred-perc;*/
    /*height: $hundred-perc;*/
    background-color: rgb(235,235,235);
    margin-left: 245px;
    padding-top: 75px;
    color: rgb(85,85,85);
    &.small {
        margin-left: 70px;
    }
    &__header {
        max-width: $hundred-perc;
        height: 40px;
        display: flex;
        justify-content: space-between;
        & h5 {
            font-size: 18px;
            margin-left: 15px;
            align-self: center;
        }
        &__nav {
            text-align: right;
            height: 17px;
            align-self: center;
            margin-right: 15px;
            & a::after {
                content: " /";
            } 
            & a:last-child::after {
                content: "";
            }
        }
    }
    &__1line {
        max-width: $hundred-perc;
        height: auto;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        padding: 0 10px 0 10px;
        &__Element {
            width: 260px;
            height: 72px;
            flex: 1;
            @include white-background();
            box-shadow: 0px 0px 4px 1px rgb(105,105,105);
            display: flex;
            justify-content: space-between;
            &__img {
                width: 50px;
                height: 50px;
                margin-left: 15px;
                align-self: center;
                border-radius: 50px;
                display: flex;
                & img {
                    margin: 0 auto;
                    
                }  
            }
            &__data {
                width: 80px;
                height: 45px;
                margin-right: 15px;
                align-self: center;
                text-align: right;
                & span {
                    font-size: 20px;
                    font-weight: bold;
                }
                & a {
                    font-size: 12px;
                }
            }
        }
        &__BigElement {
            width: 330px;
            height: 180px;
            box-shadow: 0px 0px 4px 1px rgb(125,125,125);
            @include white-background();
            padding: 10px;
            font-weight: bold;
            font-size: 14px;
            flex: 1;
        }
        &__Projects {
            width: 690px;
            height: auto;
            padding: 10px;
            background-color: rgb(255,255,255);
            font-size: 12px;
            box-shadow: 0px 0px 4px 1px #7d7d7d;
            flex: 1;
            & h5 {
                margin: 0;
                padding: 0;
                font-size: 14px;
                font-weight: bold;
            }
            & table {
                border-collapse: collapse;
            }
            &__tabHead th {
                border-bottom: 1px solid rgb(85,85,85);
                text-align: left;
            }
            & table tr td:first-child {
                width: 25px;
            }
            & table tr td:nth-child(2) {
                width: 190px;
            }
            & table tr td {
                width: 110px;
                height: 30px;

            }
        }
        &__usersList {
            width: 360px;
            height: 200px;
            &__user {
                width: 360px;
                height: 60px;
                margin-bottom: 10px;
                background-color: rgb(255,255,255);
                box-shadow: 0px 0px 4px 1px #7d7d7d;
                font-size: 14px;
                display: flex;
                &__avatar {
                    background-image: url('../images/avatar.jpg');
                    width: 40px;
                    height: 40px;
                    border-radius: 20px;
                    margin: 10px;
                    display: inline-block;
                }
                &__data {
                    width: 80px;
                    height: 60px;
                    display: inline-block;
                    margin-top: 5px;
                    & a:nth-child(1) {
                        font-weight: bold;
                        display: block;
                    }
                    & a:nth-child(2) {
                        display: block;
                    }
                    & a:nth-child(3) {
                        font-weight: bold;
                        display: block;
                    }
                }
                
            }
        }
    }
}

.profile-wrap {
    background-color: rgb(235,235,235);
    margin-left: 245px;
    padding-top: 75px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 75px;
    &.small {
        margin-left: 70px;
    }
}

.profile {
    color: rgb(85,85,85);
    &__info {
        width: 360px;
        height: 500px;
        background-color: rgb(255,255,255);
        margin: 10px;
        padding: 10px;
        &__photo {
            width: 100px;
            height: 100px;
            border-radius: 50px;
            border: 1px solid rgb(180,180,180);
            margin: 15px auto 15px auto;
            display: flex;
            &__img {
                width: 90px;
                height: 90px;
                border-radius: 50px;
                margin: 0 auto 0 auto;
                align-self: center;
                overflow: hidden;
                & img {
                    width: 90px;
                }
            }
        }
        & a:nth-child(2) {
            display: block;
            width: 100%;
            text-align: center;
            font-weight: bold;
            margin-bottom: 5px
        }
        & a:nth-child(3) {
            display: block;
            width: 100%;
            text-align: center;
            font-size: 14px;
            color: rgb(160,160,160);
            margin-bottom: 30px;
        }
        &__buttons {
            width: 185px;
            margin: 0 auto 30px auto;
            & button:nth-child(1) {
                border: 0;
                color: rgb(255,255,255);
                padding: 10px 20px;
                background-color: rgb(102,187,106);
                border-radius: 3px;
                font-weight: bold;
            }
            & button:nth-child(2) {
                border: 0;
                color: rgb(255,255,255);
                padding: 10px 20px;
                background-color: rgb(237,110,115);
                border-radius: 3px;
                font-weight: bold;
            }
        }
        &__details {

            & span {
                font-weight: bold;
            }
        }
        &__social {
            width: 150px;
            margin: 60px auto 0 auto;
            display: flex;
            justify-content: space-around;
            &__icons {
                width: 30px;
                height: 30px;
                background-color: rgb(200,200,200);
                border-radius: 15px;
                display: flex;
                & img {
                    width: 20px;
                    margin: 0 auto;
                    align-self: center;
                }
            }
        }
    }
    &__skills {
        width: 360px;
        height: 200px;
        background-color: rgb(255,255,255);
        margin: 10px;
        padding: 10px;
        & h2 {
            font-size: 16px;
        }
        & a:nth-child(n+2) {
            display: block;

        }
        &__scale {
            width: 360px;
            height: 5px;
            margin: 10px auto;
            background-color: rgb(200,200,200);
            &__ind {
                height: 5px; 
                background-color: rgb(80,80,80); 
                position: absolute; 
            }
        }
        
    }
}

.tabs {
    width: 50px;
    height: 50px;
    flex: 1;
    margin: 10px;
}

.tablink {
    background-color: rgb(255,255,255);
    color: rgb(85,85,85);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
  }
  
  .tablink:hover {
    background-color: rgb(255,255,255);
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: rgb(85,85,85);
    display: none;
    padding: 100px 20px;
    height: auto;
  }
  
  #Home {background-color: rgb(255,255,255);}
  #News {background-color: rgb(255,255,255);}
  #Contact {background-color: rgb(255,255,255);}

.about__block {
    border-bottom: 1px solid rgb(180,180,180);
    margin-bottom: 25px;
    & a:nth-child(1) {
        color: rgb(81,88,179);
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }
    & a:nth-child(2) {
        font-size: 12px;
        display: block;
        margin-bottom: 15px;
    }
    & a:nth-child(3) {
        font-weight: bold;
        display: block;
        margin-bottom: 15px;
    }
    & a:nth-child(4) {
        color: rgb(160,160,160);
        display: block;
        margin-bottom: 10px;
    }
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    &__item {
        width: 300px;
        height: 300px;
        margin-bottom: 15px;
        margin-right: 15px;
        text-align: center;
        & img {
            width: 100%;
        }
        &__line {
            width: 20px;
            height: 2px;
            margin: 7px auto 7px auto;
            background-color: rgb(62,70,171);
        }
        & a:nth-child(2) {
            font-weight: bold;
            margin-top: 15px;
            display: block;
        }
        & a:nth-child(4) {
            font-size: 12px;
            color: rgb(180,180,180);
        }
    }
}

.settings {
    width: 95%;
    border-bottom: 1px solid rgb(180,180,180);
    margin-bottom: 25px;
    &__head {
        font-weight: bold;
        display: block;
        margin-bottom: 15px;
    }
    &__data {
        display: block;
    }
}

@media (max-width: 1366px) {
    .container__1line__Element {
        margin: 5px;
    }

    .container__1line__BigElement {
        margin: 5px;
    }

    .container__1line__Projects {
        margin: 5px;
    }

    .container__1line__usersList {
        margin: 5px;
    }
}

@media (max-width: 955px) {
    .container__1line {
        flex-wrap: wrap;
        justify-content: center;
        &__Element {
            margin: 10px;
        }
        &__BigElement {
            margin-top: 10px;
        }
        &__Projects {
            margin-top: 10px;
        }
        &__usersList {
            margin-top: 10px;
        }
    }

    .profile-wrap {
        display: block;
        height: auto;
    }

    .profile {
        width: 100%;
        &__info {
            margin: 10px auto;
            width: 90%;
        }
        &__skills {
            margin: 10px auto;
            width: 90%;
        }
    }

    .tabs {
        flex: 0 !important;
        width: 90%;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .sidenav {
        width: 70px;
        &.sidenav ul li a span { //tokiais atvejais reikia be tarpelio
            display: none;
        }
    }
    .profile-wrap {
        margin-left: 70px;
    }
    .container {
        margin-left: 70px;
    }
   
}

/* mazejant ekranui turi susitraukti sidenav, plius, reikia kad i hoveri reaguotu
menu mygtukas virsutinej melynoj juostoj. be to, kartu su tuo turi susitraukti
ir sidenav, ir logo virsutineje juostoje. tam is left reikia viska iskelti
i right, isskyrus logo. ir sidenava issikelti i atskira scss faila. nepamirst importint
*/